
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel = "stylesheet"
      href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
   <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
   <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
   <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
   <script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
   <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
   
   <script language = "javascript">
      angular
         .module('firstApplication', ['ngMaterial'])
         .controller('cardController', cardController);

      function cardController ($scope) {            
      }  
   </script>      
</head>
<body>  
<div style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<div style="text-align:center">
  <h5>
   Let check the api
  </h5>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>

<div class="row"  style="text-align:center">
  <div class="col-sm-4">
    <button mat-button (click)="getapicall('http://a74d48d09346f11e9b4520eeaaab79ba-1850373190.us-east-1.elb.amazonaws.com:7000/')" class="btn btn-primary btn-lg">API 1</button>
  </div>
  <div class="col-sm-4" style="text-align:center">
    <button mat-raised-button (click)="getapicall('http://abf09721e347511e9b4520eeaaab79ba-543734112.us-east-1.elb.amazonaws.com:4000/')"  class="btn btn-success btn-lg">API 2</button>
  </div>
  <div class="col-sm-4" style="text-align:center">   
    <button type="button" class="btn btn-danger btn-lg" (click)="getapicall('http://a499489ed346f11e9b4520eeaaab79ba-1945706415.us-east-1.elb.amazonaws.com:9090/')">API 3</button>
  </div>

</div>

<div style="text-align:center">
  <mat-card>
      <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
      <mat-card-title>Data From API</mat-card-title>
      <mat-card-subtitle>How are YOU?</mat-card-subtitle>
      <mat-card-content>
        <p>Something pretty...</p>
      </mat-card-content>
  </mat-card>

</div>
</body>
<router-outlet></router-outlet>
<ng4-loading-spinner [loadingText]="'Please wait...'"> </ng4-loading-spinner>